deepspeed
csv_out
#evaluation
ckpt
checkpoints

wandb
tbImport.log

__pycache__
models/__pycache__

logs

*.pyc

test.ipynb
test.py
nohup.out
.fuse*

data/the_pile_200/valid/
data/pile
validation_data/pile
hf
preprocess/*/*.json
preprocess/*/*.csv
preprocess/*/*.jsonl

outputs/